/* Global styles */
body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(239, 233, 233);
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2, h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar {
    padding: 10px 15px;
    background-color: #939393;
}

.navbar-brand img {
    max-width: 60%; 
    height: auto; 
}

.nav-link {
    font-size: 0.9rem; 
}

.section {
    margin-top: 90px;
}

@media (min-width: 768px) {
    .navbar-brand img {
        max-width: 100%; 
    }

    .nav-link {
        font-size: 1rem; 
    }
}

nav .nav-link {
    color: #3a3a3a;
    text-transform: uppercase;
    margin-left: 15px;
}

nav .nav-link:hover {
    color: #A63625; 
}

.owl-carousel .item {
    position: relative;
}

.owl-carousel img {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
}
.position-relative {
    position: relative; 
}

.overlay-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 5px; 
}


p {
    margin-bottom: 15px; 
}

img {
    max-width: 100%; 
    height: auto; 
}

.img-fluid {
    width: 100%; 
    height: auto; 
}



h2 {
    margin-bottom: 30px; 
}



/* Sección principal */
main h1, main h2 {
    text-align: left
}

main p.lead {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.muestra {
    background-color: #939393;
    color: white;
    width: 100%;
    position: relative;
    padding: 20px;
    margin: 0 auto; /* Centrado automático */
    display: flex;
    justify-content: center;  /* Asegura que el contenido esté centrado */
}

.parafo p{
    color: #99724a;
}

.row {
    max-width: 1200px; 
    margin: 0 auto;
}


img {
    max-width: 100%; 
    height: auto;
}

.container {
    padding: 3px; 
}


/* Novedades cards */
.card {
    margin-bottom: 2rem;
    background-color: #ffffff;
    h3{color: #7631b6;
    }
    
}

.card .btn-primary {
    background-color: #A63625; 
    border-color: #e22e3f;
}

/* Sobre nosotros */

.nosotros{
    background-color: #3c2210;
    color: #BE8F61;
}
section {
    margin-bottom: 3rem;
}

.carousel-item img{
    max-width:45%; 
    margin: 0 auto; 
    margin-bottom: 5;
    display: block; 
}

.carousel-caption {
    bottom: 10px; 
    font-size: 14px; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.contact-section {
    background-color: #e2d6d6; 
    padding: 2rem; 
    border-radius: 5px; 
    
}

.custom-btn {
    background-color: #BE8F61; 
    color: white; 
    padding: 0.25rem 0.75rem; 
    font-size: 0.75rem; 
    border-radius: 5px; 
    border: none;
}

.custom-btn:hover {
    background-color: #99724a;
}


@media (min-width: 576px) {
    .custom-btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }
}


/* Footer */
.footer {
    background-color: #161616;
    padding: 1rem 0;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
}

.social-icons a:hover {
    opacity: 0.7;
}

#tiendaCarrusel .item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#tiendaCarrusel a {
    color: black; 
    text-decoration: none;
}


#tiendaCarrusel a:hover {
    text-decoration: underline; 
    color: #A63625; 
}

.tienda{
    background-color: #c5baba;
}
.tienda h2{
    color: #7b2f6c;
}