/* Global styles */
body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(233, 203, 203);
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2, h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar {
    padding: 10px 15px;
    background-color: #939393;
}

.navbar-brand img {
    max-width: 60%; 
    height: auto; 
}

.nav-link {
    font-size: 0.9rem; 
}

.section {
    margin-top: 90px;
}

@media (min-width: 768px) {
    .navbar-brand img {
        max-width: 100%; 
    }

    .nav-link {
        font-size: 1rem; 
    }
}

nav .nav-link {
    color: #3a3a3a;
    text-transform: uppercase;
    margin-left: 15px;
}

nav .nav-link:hover {
    color: #A63625; 
}

section.container {
    padding: 2rem 0;
    background-color: rgb(233, 203, 203);
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #ddd;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin: auto;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.sc-add-to-cart {
    background-color: #A63625;
    color: white;
    border-color: #862617;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.sc-add-to-cart:hover {
    background-color: #8a2c1f;
    border-color: #5e180d;
}

#smartCart {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#smartCart form {
    margin-bottom: 20px;
}

#smartcart {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#smartCart .cartTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.cta-button:hover {
    background-color: #45a049; 
}   

.footer {
    background-color: #161616;
    padding: 1rem 0;
}

.futer {
    background-color: #A63625;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-img-top {
        max-height: 220px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-price {
        font-size: 1.1rem;
    }
}

@media (min-width: 1025px) {
    .section {
        margin-top: 90px;
    }

    .card-img-top {
        max-height: 250px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-price {
        font-size: 1.3rem;
    }

    .footer .mx-4 {
        font-size: 3rem;
    }
}
